<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shop.gmall.manage.mapper.BaseAttrInfoMapper">
    <resultMap id="selectAttrInfo" type="com.shop.bean.BaseAttrInfo" autoMapping="true">
        <id property="id" column="id"></id>
        <!-- 一对多关系 -->
        <collection property="attrValueList" ofType="com.shop.bean.BaseAttrValue" autoMapping="true">
            <!-- 重名 起别名 -->
            <id property="id" column="attr_value_id"></id>
        </collection>
    </resultMap>

    <select id="getAttrInfo" resultMap="selectAttrInfo">

        SELECT
            bai.id,
            bai.attr_name,
            bai.catalog3_id,
            bav.id attr_value_id,
            bav.value_name,
            bav.attr_id
        FROM   base_attr_info bai
        INNER JOIN base_attr_value bav ON bai.id = bav.attr_id
        WHERE  catalog3_id =#{catalog3Id}

    </select>
</mapper>